@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/container-queries';

@theme {
	--font-sans: Montserrat, ui-sans-serif, system-ui, -apple-system, Segoe UI,
		Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Webkit (Chrome, Safari, newer versions of Opera) */
.scrollbar-none::-webkit-scrollbar {
	display: none;
}

/* Firefox */
.scrollbar-none {
	scrollbar-width: none;
}

/* Internet Explorer and Edge */
.scrollbar-none {
	-ms-overflow-style: none;
}
